/* sezione nera in top */
.my-top-section{
    height: 60px;
}

.my-sony-logo{
    width: 100%;
    height: 100%;
}

.my-sony-logo img{
    width: 7rem;
}

/* NAV-BAR */
.my-navbar-li{
    list-style: none;
}

/* JUMBOTRON */
.jumbotron{
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    font-size: 1.3em;
    padding-top: 200px;
}

.my-returanl-bg{
    width: 70%;
}
/* immagine titolo */
/* @media screen and (max-widht: ){
    
}
 */

 /* SECTION IMMAGINI */
 .returanl-small-img{
     width: 100%;
     border-radius: 10px;
 }

 /* MAIN */
 /* immagini e paragrafo */
.my-centrature{
    text-align: center;
}
.my-playstation{
    width: 100%;
}

.my-joypad{
    width: 100%;
}

.my-img-container{
    width: calc(100% / 5);
}

@media screen and (max-width: 768px){
    .my-img-container{
        width: calc(100% / 4);
    }
    
}

@media screen and (max-width: 576px){
    .my-img-container{
        width: calc(100% / 3);
    }
    
}

.item-img-container{
    flex-wrap: wrap;
    width: 100%;
}

/* SECONDO MAIN */
.bg-it-take{
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.my-img-it-take{
    width: 40%;
}

/* SECOND MAIN JUMBOTRON */

.my-bg-grey{
    width: 100%;
    height: 100%;
    background-color: black;
}

.my-tony{
    width: 100%;
    border-radius: 10px;
}

/* SECTION PS4 */
.my-ps4{
    width: 100%;
}

/* SECTION PS PLUS */
.my-ps-plus-section{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.my-psplus-logo{
    height: 5rem;
}

.my-img-psplus{
    width: 100%;
    height: 100%;
}
