/* sezione nera in top */
.my-top-section{
    height: 60px;
}

.my-sony-logo{
    width: 100%;
    height: 100%;
}

.my-sony-logo img{
    width: 7rem;
}

/* NAV-BAR */
.my-navbar-li{
    list-style: none;
}

/* JUMBOTRON */
.jumbotron{
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    font-size: 1.3em;
    padding-top: 200px;
}

.my-returanl-bg{
    width: 70%;
}
/* immagine titolo */
/* @media screen and (max-widht: ){
    
}
 */

 /* SECTION IMMAGINI */
 .returanl-small-img{
     width: 100%;
     border-radius: 10px;
 }

 /* MAIN */
 /* immagini e paragrafo */
.my-centrature{
    text-align: center;
}
.my-playstation{
    width: 100%;
}
